
button{
    background-color: #555555;
    color: white;
    padding: 10px;
    text-align:center;
     display: inline-block;
    font-size: 16px;
    border-radius:10px;
  }
  
  table{
      margin:1px;
      border: 1px solid black;
      border-collapse:collapse;
      width :70%;
  }
  
  th{
    border: 1px solid black;
    height :20px;
    padding: 10px;
  }
  
  td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    height: 10px;
    vertical-align: bottom;
  }
  
  tr:nth-child(even){
    background-color:#87CEFA;
  }
  
  
  p{
     padding: 1px;
  }
  
  .heading{
  font-family:  "Courier New", monospace;
  font-size: 50px;
  text-align: center;
  }
  
  .subject{ 
   font-family:"helvetica", Times, serif;
   font-size: 20px
  }
  